<!DOCTYPE html>
<html>
<head>
    <head class=".bg-light">

        {%load static%}
        <title>PlotLy OffLine examples</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
              crossorigin="anonymous">
        <style>
        </style>
        <meta charset="utf-8">
        <title>Covid19-anomalies detector</title>
    </head>

<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<div class="col-md-6 col-md-offset-5">
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url " my-view
    " %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ message }}
    <p>{{ form.non_field_errors }}</p>

    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

    <p>
        {{ form.docfile.errors }}
        {{ form.docfile }}
    </p>

    <p><input type="submit" class="btn btn-primary" value="Upload" class="form-group"/></p>
    </form>
</div>
</body>
</html>